spring:
  application:
    name: rentmaster-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/rentmaster
    username: rentmaster
    password: rentmaster
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080


